@import url('https://fonts.googleapis.com/css2?family=Eczar&display=swap');
div.flex {
    font-family: 'Eczar', serif;
}

.slidefromright {
    animation-duration: 3s;
    animation-name: slidein;
}

.fadein {
    animation-duration: 3s;
    animation-name: fadein;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

div#quote {
    font-size: 32px;
    line-height: 1.1;
}

div#movie {
    line-height: 1.1;
    font-size: 22px;
    text-transform: uppercase;
    text-align: right;
    margin-top: 20px;
}

@keyframes slidein {
    from {
        opacity: 0;
        margin-left: 40px;
    }
    to {
        opacity: 1;
        margin-left: 0px;
    }
}

div#year {
    font-size: 20px;
    text-align: right;
    margin-top: 0px;
}

div.quote_box {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: rgb(230, 212, 111);
    padding: 20px;
}

button#getQuote {
    width: 175px;
    background-color: rgb(39, 65, 54);
    color: white;
}

div#button {
    margin-top: 20px;
    text-align: center;
}

div#wrapper {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 75%;
    margin-top: 20px;
    border-radius: 10px;
}