{# movie_quote/templates/movie-quote-template.html.twig #}
<div id="wrapper">
	<section>
		<div class="quote_box">
            <div id="quote"></div>
            <div id="movie"></div>
            <div id="year"></div>
        </div>
    </section>
    <div id="button">
		<button id="getQuote">
			Get New Quote
		</button>
	</div>
</div>